// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.0.1
// MIT License
$track-color: transparent;
$thumb-color: black;

$thumb-radius: 30px;
$thumb-height: 15px;
$thumb-width: 15px;
$thumb-shadow-size: 1px;
$thumb-shadow-blur: 1px;
$thumb-shadow-color: #111;
$thumb-border-width: 1px;
$thumb-border-color: transparent;

$track-width: 100%;
$track-height: 5px;
$track-border-width: 1px;
$track-border-color: white;

$track-radius: 5px;
$contrast: 5%;

@mixin track() {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
}

@mixin thumb() {
  border: $thumb-border-width solid $thumb-border-color;
  height: $thumb-height;
  width: $thumb-width;
  border-radius: $thumb-radius;
  background: $thumb-color;
  cursor: pointer;
}

[type=range] {
  -webkit-appearance: none;
  margin: $thumb-height / 2 0;
  width: $track-width;
    background: $track-color;
    position: relative;
  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @include track();
    background: $track-color;
    
  }

  &::-webkit-slider-thumb {
    @include thumb();
    -webkit-appearance: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten($track-color, $contrast);
  }

  &::-moz-range-track {
    @include track();
    background: $track-color;
  }

  &::-moz-range-thumb {
    @include thumb();
  }

  &::-ms-track {
    @include track();
    background: transparent;
    border-color: transparent;
    border-width: $thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken($track-color, $contrast);
    border-radius: $track-radius * 2;
  }

  &::-ms-fill-upper {
    background: $track-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-thumb {
    @include thumb();
  }

  &:focus::-ms-fill-lower {
    background: $track-color;
  }

  &:focus::-ms-fill-upper {
    background: lighten($track-color, $contrast);
  }
}

.input-range-group {
    display: inline-block;
    position: relative;
    font-size: 12px !important;
    
    &:before {
        content: '';
        display: block;
        background: $track-border-color;
        width: 100%;
        height: 5px;
        position: absolute;
        left: 0;
        top: 7px;
        border-radius: $thumb-radius;
        z-index: 0;
    }
}